#POSTGRES_USER=dss_admin
#POSTGRES_PASSWORD=dss_password
#POSTGRES_DB=dss_universe

#POSTGRES_PORT=5433
#REDIS_PORT=6379
#PGADMIN_PORT=5050

#PGADMIN_DEFAULT_EMAIL=admin@example.com
#PGADMIN_DEFAULT_PASSWORD=admin

######

# App
NODE_ENV=development
API_PORT=3001
API_GLOBAL_PREFIX=api

# Database
POSTGRES_USER=dss_user
POSTGRES_PASSWORD=dss_password
POSTGRES_DB=dss_universe
POSTGRES_PORT=5433
DATABASE_URL="postgresql://dss_user:dss_password@localhost:5433/dss_universe?schema=public"

# Redis
REDIS_PORT=6379
REDIS_URL="redis://localhost:6379"

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@dss.local
PGADMIN_DEFAULT_PASSWORD=admin

# JWT
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d